@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}


/* Fade in on mount */
.fade-card {
  opacity: 0;
  transform: scale(0.90);
  animation: fadeIn 0.8s ease-in-out forwards;
  transition: box-shadow 0.6s ease-in-out;
  box-shadow: 0 0 30px #ffffff;
}

/* .button-color{
  background: #ffffff;
} */

/* Smooth glow on hover */
/* .fade-card:hover {
  box-shadow: 0 0 30px #ffffff;
} */

/* Optional fade out if removed dynamically */
.fade-card.fade-out {
  animation: fadeOut 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
